:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --primary: rgba(68, 88, 119, 1);
  --secondary: rgba(146, 204, 206, 1);
  --tertiary: rgba(49, 52, 61, 1);
  --dark: rgba(28, 29, 33, 1);
  --light: rgba(238, 238, 247, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #5f6195;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--primary);
  background-color: var(--light);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

header {
  padding: 15px 6% 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--tertiary);
  box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4);
}

header h1 {
  color: var(--tertiary);
  background-color: var(--secondary);
  padding: 5px 1% 5px 6%;
  margin: 0;
  font-size: 4vw;
  line-height: 1;
}

h2 {
  flex: 0 0 20%;
  max-width: 14rem;
  text-align: left;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 4px solid var(--primary);
  font-size: 3rem;
  line-height: 1.1;
}

footer {
  padding: 15px 6% 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex;
  background-color: var(--tertiary);
  box-shadow: 0 5px 35px rgba(146, 204, 206, 0.4);
}

footer h3 {
  color: var(--secondary);
  padding: 5px;
  margin: 0;
  font-size: 2vw;
  line-height: 1;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  padding: 5px 10px;
  color: var(--secondary);
  margin-right: 10px;
  background-image: linear-gradient(270deg, var(--secondary) 0%, var(--secondary) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  font-size: 1.4rem;
}

nav a:hover {
  background-size: 100% 100%;
  color: var(--primary);
}

nav a:last-child {
  margin-right: 0;
}

main {
  margin-top: 20px;
  margin-bottom: 45px;
}

.nav-active-page {
    background-size: 100% 100%;
    color: var(--primary);
}

.page-wrapper {
  max-width: 88%;
  margin-left: auto;
  margin-right: auto;
}

.page-section {
  margin: 25px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}

.page-section p {
  margin-bottom: 20px;
}

.port-item {
  border-bottom: 3px solid var(--secondary);
  color: var(--tertiary);
  display: flex;
  align-items: flex-start;
  padding: 0 0 20px 0;
  margin: 0.5em;
  text-decoration: none;
  transition: all 0.5s;
  font-size: 0.9rem;
  position: relative;
}

.port-item-image {
  width: 450px;
  height: 250px;
  justify-self: left;
  margin-right: 1rem;
}

.port-item-content {
  flex: 1 0;
  justify-self: right;
}

a.fill-div {
  position: absolute;
  display: block;
  top: 0;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.contact address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.contact address a {
  color: var(--tertiary);
  padding: 5px;
  text-decoration: none;
  font-size: 1.3rem;
  font-style: normal;
  background-image: linear-gradient(270deg, var(--primary) 0%, var(--primary) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  margin: 0 0.2rem 0.1rem;
  display: inline-block;
}

.contact address a:hover {
  background-size: 100% 88%;
  color: var(--secondary);
}

.user {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.main-user {
  background-image: url('https://media.licdn.com/dms/image/v2/D4E03AQHX7uQyhMn5gA/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1700330526781?e=1738800000&v=beta&t=Fhxsd3GZHk0rXTrWfKTte-96Q5JJofPFgSMFzJlIlfs');
}

.skills-icon {
  width: 3rem;
  height: 3rem;
}

#about {
  font-size: large;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#personal-info {
  margin-right: 3rem;
}

#portfolio-div {
  flex: 0 0 75%;
}

#portfolio {
  align-items: flex-start;
  justify-content: space-between;
}

#portfolio h3 {
    max-width: 100%;
    border-bottom: 4px solid var(--primary);
    font-size: 2rem;
    line-height: 1.1;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
}

#port-nav {
  margin-top: -3rem;
  position: fixed;
}

#port-nav h3 {
  border-bottom: 3px solid var(--primary);
}

/* media queries */

@media screen and (max-width: 1180px) {

h2, h3, figure {
  margin: 0 auto;
  text-align: center;
}

.page-section {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.port-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

.port-item p {
  margin-top: 1rem;
}

#personal-info {
  margin-right: 0rem;
}

#about {
  justify-content: center;
  align-items: center;
}

#portfolio {
  justify-content: center;
  align-items: center;
}

#port-nav {
  margin-top: -3rem;
  margin-bottom: 2rem;
  position: relative;
  justify-items: flex-start;
  flex-direction: row;
}

#port-nav-container {
  position: relative;
}

}

/* media queries for a max-width of 980px */
@media screen and (max-width: 980px) {
  header {
    padding: 0 0 10px 0;
    justify-content: center;
    text-align: center;
  }

  header h1 {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 10vw;
  }

  header nav {
    justify-content: center;
  }

  .page-section > h2,
  .page-section > div {
    flex: 0 0 100%;
  }

  .page-section > h2 {
    border-right: none;
    border-bottom: 4px solid var(--primary);
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 7vw;
  }
}

@media screen and (max-width: 768px) {
  .port-item {
    flex-basis: 100%;
    min-height: 200px;
  }
}

@media screen and (max-width: 550px) {
  .port-item {
    flex-basis: 50%;
    min-height: 200px;
  }
  .port-item-image {

    width: 80vw;
    height: 45vw;
    justify-self: left;
    margin-right: 1rem;
  }
}
